/***********************
	Background in header
***********************/

@keyframes backgroundSlide {
	0% {
		background-position: 50% 0;
	}
	100% {
		background-position: 50% 50%;
	}
}

@-webkit-keyframes backgroundSlide {
	0% {
		background-position: 50% 0;
	}
	100% {
		background-position: 50% 50%;
	}
}


/************************************************
	Images in "Why Dropbox for Business?" section
************************************************/


.slid {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-name: imageSlide;
	animation-name: imageSlide;
	-webkit-animation-iteration-count: 1;
	-webkit-animatin-timing-function: linear;
}

@keyframes imageSlide {
	0% {
		width: 50%;
		transform: translate(-100px, 0);
		-webkit-filter: blur(3px);
		filter: blur(3px);
	}
	90% {
		width: 90%;
		transform: translate(10px, 0);
	}
		100% {
	
		width: 100%;
		transform: translate(0,0);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

@-webkit-keyframes imageSlide {
	0% {
		width: 50%;
		-webkit-transform: translate(-100px, 0);
		-webkit-filter: blur(3px);
		filter: blur(3px);
	}
	90% {
		width: 90%;
		-webkit-transform: translate(10px, 0);
	}
		100% {
		width: 100%;
		-webkit-transform: translate(0,0);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}




