/***********************
	Background in header
***********************/

@keyframes backgroundSlide {
	0% {
		background-position: 50% 0;
	}
	100% {
		background-position: 50% 50%;
	}
}

@-webkit-keyframes backgroundSlide {
	0% {
		background-position: 50% 0;
	}
	100% {
		background-position: 50% 50%;
	}
}


/************************************************
	Images in "Why Dropbox for Business?" section
************************************************/

.image-slide {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.no-delay {
	-webkit-animation-name: imageSlideNoDelay;
	animation-name: imageSlideNoDelay;
}

.delay-1 {
	-webkit-animation-name: imageSlideDelayOne;
	animation-name: imageSlideDelayOne;
}

.delay-2 {
	-webkit-animation-name: imageSlideDelayTwo;
	animation-name: imageSlideDelayTwo;
}

@keyframes imageSlideNoDelay {
	0% {
		-webkit-filter: blur(5px);
		filter: blur(5px);
		transform: translate(-100px, 0);
		width: 50%;
	}
	40% {
		transform: translate(20px,0);
	}
	70% {
		transform: translate(0,0);
	}
	100% {
		width: 100%;
		transform: translate(0,0);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

@-webkit-keyframes imageSlideNoDelay {
	0% {
		width: 50%;
		transform: translate(-100px, 0);
		-webkit-filter: blur(2px);
		filter: blur(2px);
	}
	40% {
		transform: translate(20px,0);
	}
	70% {
		transform: translate(0,0);
	}
	100% {
		width: 100%;
		transform: translate(0,0);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

@keyframes imageSlideDelayOne {
	0% {
		width: 50%;
		transform: translate(-100px, 0);
		-webkit-filter: blur(2px);
		filter: blur(2px);
	}
	10% {
		transform: translate(-100px, 0);
	}
	50% {
		transform: translate(20px,0);
	}
	80% {
		transform: translate(0,0);
	}
	100% {
		width: 100%;
		transform: translate(0,0);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

@-webkit-keyframes imageSlideDelayOne {
	0% {
		width: 50%;
		transform: translate(-100px, 0);
		-webkit-filter: blur(2px);
		filter: blur(2px);
	}
	10% {
		transform: translate(-100px, 0);
	}
	50% {
		transform: translate(20px,0);
	}
	80% {
		transform: translate(0,0);
	}
	100% {
		width: 100%;
		transform: translate(0,0);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

@keyframes imageSlideDelayTwo {
	0% {
		width: 50%;
		transform: translate(-100px, 0);
		-webkit-filter: blur(2px);
		filter: blur(2px);
	}
	20% {
		transform: translate(-100px, 0);
	}
	60% {
		transform: translate(20px,0);
	}
	90% {
		transform: translate(0,0);
	}
	100% {
		width: 100%;
		transform: translate(0,0);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

@-webkit-keyframes imageSlideDelayTwo {
	0% {
		width: 50%;
		transform: translate(-100px, 0);
		-webkit-filter: blur(2px);
		filter: blur(2px);
	}
	20% {
		transform: translate(-100px, 0);
	}
	60% {
		transform: translate(20px,0);
	}
	90% {
		transform: translate(0,0);
	}
	100% {
		width: 100%;
		transform: translate(0,0);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}


