.carousel {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	max-width: 540px;
}

.hideable {
  display: none;
}

.circle {
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 10px;
	width: 15px;
	height: 15px; 
	display: inline-block;
	cursor: pointer;
	/* width and height can be anything, as long as they're equal */
}

.blue-circle {
	background-color: #007EE5;
}

.gray-circle {
	background-color: #8899A7;
}

.carousel-circles {
	padding-top: 0;
}

.arrow-div {
/*	display: inline-block;*/
	margin-top: 12%;
	padding: 0;
}


.arrow {
	cursor: pointer;
}

.carousel_image {
	width: 100%;
	
/*	max-width: 540px;*/

}

.carousel-slide-left {
	-webkit-animation-name: carouselSlideLeft;
	-webkit-animation-duration: .25s;
	animation-name: carouselSlideLeft;
	animation-duration: .25s;
}

.carousel-slide-right {
	-webkit-animation-name: carouselSlideRight;
	-webkit-animation-duration: .25s;
	animation-name: carouselSlideRight;
	animation-duration: .25s;
}

.images {
	padding: 0;
}