#menu {
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	padding-top: 35px;
}

#menu ul {
	list-style-type: none;
}

#menu a {
	text-decoration: none;
	color: white;
}

#header {
	background-color: #007EE5;
	color: white;
	height: 500px;
	background-image: url("assets/dropbox-for-business-files.png");
	background-position: 50% 50%;
}

/*#bg {
    background-image: url("assets/dropbox-for-business-files.png");
    content : "";
    display: block;
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    opacity : 1;
    z-index: -1;
		background-position: 50% 50%;
}*/

#teamsync {
	padding-top: 70px;
	text-align: center;
	z-index: 1;
}

#teamsync a {
	text-decoration: none;
	color: white;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}

#whatcan {
	text-align: center;
	color: #8899A7;
}

#whydropbox {
	text-align: center;
	color: #8899A7;
	font-weight: 400;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 37px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

h2 {
	font-size: 22px;
	font-weight: 400;
	color: #8899A7;
}

h3 {
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
}

p {
	font-size: 13px;
	font-weight: 300;
}

.test {
	width: 100px;
	height: 80px;
	background-color: gray;
}



.round {
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 3px; 
}

.trybutton {
	z-index: 1;
	height: 50px;
	width: 280px;
	margin: 0 auto;
	box-shadow: 1px 1px 1px 1px #888888;
}

.trybutton p {
	position: relative;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	font-size: 15px;
	font-weight: 400;
}

.bizbutton {
	background-color: white;
	color: #007EE5;
	border-style: solid;
	border-width: 2px;
	border-color: #0B56BC;
}

.learnbutton {
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	color: #007EE5;
	border-style: solid;
	width: 110px;
	height: 35px;
	border-width: 1px;
	border-color: #007EE5;
}

.bluebutton {
	background-color: #007EE5;
	color: white;
}

.learnbutton h3 {
	margin: 5px;
}

#video {
	padding-left: 0;
	padding-right: 0;
}

#video-still {
	background-image: url("assets/video-still.jpg");
	background-position: 50% 50%;
	height: 500px;
	text-align: center;
	color: #8899A7;
/*	padding: 0;*/
}

#video-still h2 {
	height: 152px;
}

#play-button {
	cursor: pointer;
}

#video-player {
	background-color: black;
	height: 500px;
	padding: 0;
/*	display: none;*/
}

#in-sync {
	text-align: center;
	color: #8899A7;
}

body {
	background-color: gray;
}

#wrapper {
	background-color: white;
	margin-left: auto;
	margin-right:auto;
}